@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

/* Custom css begin! */
header {
  background-image: url("images/mobile/image-hero.jpg");
}
.logo img {
  width: 9rem;
}
.hamburger img {
  width: 1.5rem;
}
.about-image {
  background-image: url("images/mobile/image-interactive.jpg");
}

/* Leaving mobile mode */
@media (min-width: 40rem) {
  header {
    background-image: url("images/desktop/image-hero.jpg");
  }
  .logo img {
    width: 12rem;
  }
  /* .about-image {
    grid-column: 1/8;
    grid-row: 1;
  }
  .about-text {
    grid-column: 6/12;
    grid-row: 1;
  } */
}
