@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}
.josefin {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

/* Custom css begin! */
header {
  background-image: url("images/mobile/image-hero.jpg");
}
.logo img {
  width: 9rem;
}
.hamburger img {
  width: 1.5rem;
}
.about-image {
  background-image: url("images/mobile/image-interactive.jpg");
  height: 15rem;
}

/* Leaving mobile mode */
@media (min-width: 40rem) {
  header {
    background-image: url("images/desktop/image-hero.jpg");
  }
  .logo img {
    width: 12rem;
  }
  .about-image {
    background-image: url("images/desktop/image-interactive.jpg");
    height: 31.25rem;
  }
  .about-text {
    height: 19rem;
    align-self: end;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
